;; Analyzed by ClojureScript 1.8.51
{:use-macros {html sablono.core, deftest devcards.core, defcard devcards.core}, :excludes #{}, :name template.cards.app, :imports nil, :requires {ui template.ui, template.ui template.ui}, :uses nil, :require-macros {dc devcards.core, devcards.core devcards.core, sab sablono.core, sablono.core sablono.core}, :cljs.analyzer/constants {:seen #{:path :frame :inspect-data :func :name :history :classname :documentation :main-obj :watch-atom :initial-data :hidden :padding :app :template.cards.app :options :heading}, :order [:path :func :template.cards.app :app :name :documentation :main-obj :initial-data :options :frame :heading :padding :hidden :inspect-data :watch-atom :history :classname]}, :doc nil}